* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.links {
  position: fixed;
  top: 5px;
  left: 10px;
  z-index: 6;
  display: flex;
  flex-direction: column;
}

.links > a {
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}

.search-form {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  width: 100%;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 108, 223);
  font-size: 25px;
  z-index: 5;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.search-form > input {
  height: 50px;
  width: 300px;
  padding: 5px;
  border: none;
  line-height: 1.5;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-form > button {
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.5;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  border: none;
  background-color: rgb(46, 108, 223);
  color: white;
}

.is-hidden {
  display: none;
}

.gallery {
  margin-top: 100px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 90%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  grid-gap: 15px;
  padding: 0;
}

.photo-card-link {
  cursor: default;
  text-decoration: none;
  position: relative;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.photo-card {
  height: 100%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.photo-card > img {
  height: 78%;
  width: 100%;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.photo-card > img:hover {
  transform: scale(1.03);
}

.info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.info-item {
  margin: 0;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-item > span {
  margin-top: 5px;
}

.icon {
  fill: blue;
}

#sentinel {
  margin-bottom: 100px;
  text-align: center;
  font-size: 30px;
  color: rgb(46, 108, 223);
}

.tui-pagination {
  display: flex;
  justify-content: center;
  height: 25px;
}

.tui-pagination .tui-page-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
}

.tui-pagination .tui-page-btn:hover {
  background-color: #05ce69;
  color: #fff;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: #fff;
  background-color: #ff6b01;
  cursor: default;
}

.tui-pagination .tui-first-child,
.tui-pagination .tui-prev-is-ellip {
  border: none;
}

.tui-pagination .tui-last-child,
.tui-pagination .tui-next-is-ellip {
  border: none;
}

.tui-pagination .tui-first-child.tui-is-selected {
  border: none;
}

.tui-pagination .tui-last-child.tui-is-selected {
  border: none;
}

.tui-pagination .tui-first,
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  border: none;
}

@media screen and (min-width: 768px) {
  .tui-pagination {
    height: 40px;
  }
  .tui-pagination .tui-page-btn {
    width: 40px;
    height: 40px;
  }
}
